<style>
    .container {width: 100%;margin: auto;}
    @media (min-width:600px) {.container {width: 80%;}}
    @media (min-width:768px) {.container {width: 60%;}}
    @media (min-width:1024px) {.container {width: 65%;}}
</style>

<div class="container">
<p><h2>Hi, {{r}}. How can I help you today?</h2></p>
<form action="/palm_request" method="post">
    <p><input type="submit" value="Generate Text"></p>
</form>
<form action="/image_request" method="post">
    <p><input type="submit" value="Generate Image"></p>
</form>
<form action="/music_request" method="post">
    <p><input type="submit" value="Generate Music"></p>
</form>
<form action="/video_request" method="post">
    <p><input type="submit" value="Generate Video"></p>
</form>
<form action="/" method="post">
    <p><input type="submit" value="End"></p>
</form>
</div>